@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(169, 169, 169);
    
}

header{
    background-color: rgb(133, 133, 133);
    padding-top: 20px;
}

header h1{
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
span#burguer{
    padding: 10px;
    display: block;
    background-color: rgb(64, 64, 64);
    color: white;
    
}

span#burguer:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
menu{
    display: none;

}

menu > ul >li{
    display: block;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    list-style: none;
    text-decoration: none;
    border-top: 1px solid grey;
}

menu a {
    text-decoration: none;
    color:white;

}
menu li:hover{
    background-color: rgb(213, 213, 213);
    color: black;
}


main{ 
    width: 450px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

main h2{
    margin-bottom: 10px;
}

main p{
    text-align: justify;
    text-indent: 25px;
    margin-bottom: 20px;;
}
